# Supabase Configuration
SUPABASE_URL=https://jigrpxommzpwuizzjtim.supabase.co
SUPABASE_ANON_KEY=sb_publishable_6Zd197P7Qo5WyBBmbLiZ7w_G3RphDnr
APP_URL=https://ais-dev-wd5rdmxcvam6giee62gigj-121007728751.us-west1.run.app
